:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply flex place-items-center min-h-screen;
}

a {
  @apply font-medium text-blue-400 hover:text-blue-300;
}
