@font-face {
  font-family: 'Agrandir';
  src: url(/font/PPAgrandir-NarrowRegular.otf);
  font-stretch: condensed;
  font-weight: 400 600;
}

@font-face {
  font-family: 'Agrandir';
  src: url(/font/PPAgrandir-Regular.otf);
  font-stretch: normal;
  font-weight: 400 600;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply flex place-items-center min-h-screen font-text text-lg leading-snug tracking-wider;
  font-stretch: condensed;
}

a {
  @apply font-medium text-primary-green hover:text-green-300;
}

