@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-stretch-normal {
    font-stretch: normal;
  }

  .font-condensed {
    font-stretch: condensed;
  }

  .font-expanded {
    font-stretch: expanded;
  }
}

@layer components {
  .filter-accent {
    @apply filter -hue-rotate-30 brightness-70;
  }

  .backdrop-filter-accent {
    @apply backdrop-filter backdrop-brightness-70 -backdrop-hue-rotate-30;
  }

  .filter-accent-pale {
    @apply filter saturate-[.4] brightness-[1.7];
  }
}
